
.photo{
  float: left;
  border-radius: 50%;
  height: 40vmin;
  position: relative;
  
}

.name {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:rgb(34, 34, 36);
 
  position: relative;
  padding-top: 0px;
  text-align: right;
    /* padding-block-end: 18px; */
  padding-right: 61px;
  
  
}
.adress{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:rgb(34, 34, 36);
 
  position: relative;
  padding-top: 0px;
  text-align: right;
    /* padding-block-end: 18px; */
  padding-right: 61px;
  
}
.App{
  background-color: rgb(229, 243, 243);
  background-size: cover;
  background-repeat: repeat-y;
  padding-bottom: 115px;

}
